<!DOCTYPE html>
<html>
<head>
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navigation-bar">
        <div class="header-links">
            <a href="/" class="{{ 'active' if request.path == '/' else '' }}">Home</a>
            <a href="/about" class="{{ 'active' if request.path == '/about' else '' }}">About</a>
            <a href="/contact" class="{{ 'active' if request.path == '/contact' else '' }}">Contact</a>
        </div>
    </div>
    

    <div class="content">
        <div class="sidebar">
            <!-- Boş bırak, gezinme menüsü burada olmayacak -->
        </div>

        <div class="main-content">
            <h1>Weather Forecast</h1>

            <form action="/" method="POST">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" required>
                <button type="submit">Show Forecast</button>
            </form>

            {% if weather_data %}
            <!-- Weather forecast table code -->
            {% endif %}

            {% if error %}
            <p>{{ error }}</p>
            {% endif %}
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
